TZ=Europe/Moscow

PROMETHEUS_VERSION=v3.14.0
PROMETHEUS_CPU_LIMIT=0.50
PROMETHEUS_MEMORY_LIMIT=1G
PROMETHEUS_MEMORY_RESERVE=512M

GRAFANA_VERSION=13.2.2
GRAFANA_CPU_LIMIT=0.50
GRAFANA_MEMORY_LIMIT=1G
GRAFANA_MEMORY_RESERVE=512M

NODE_EXPORTER_VERSION=v1.12.1
NODE_EXPORTER_CPU_LIMIT=0.50
NODE_EXPORTER_MEMORY_LIMIT=128M
NODE_EXPORTER_MEMORY_RESERVE=64M
