TZ=Europe/Moscow

PROMETHEUS_VERSION=3.14.0
PROMETHEUS_CPU_LIMIT=0.50
PROMETHEUS_MEMORY_LIMIT=1G
PROMETHEUS_MEMORY_RESERVE=512M

GRAFANA_VERSION=13.2.2
GRAFANA_CPU_LIMIT=0.50
GRAFANA_MEMORY_LIMIT=1G
GRAFANA_MEMORY_RESERVE=512M

NODE_EXPORTER_VERSION=1.12.1
NODE_EXPORTER_CPU_LIMIT=0.50
NODE_EXPORTER_MEMORY_LIMIT=128M
NODE_EXPORTER_MEMORY_RESERVE=64M

CADVISOR_VERSION=0.55.1
CADVISOR_CPU_LIMIT=0.50
CADVISOR_MEMORY_LIMIT=512M
CADVISOR_MEMORY_RESERVE=256M
