TARGET_LOCALE=en_US
TARGET_ENCODING=UTF-8

POSTGRES_VERSION=18
POSTGRES_PASSWORD=

# Since postgresql 18+ use: /var/lib/postgresql. For postgresql  <=17 — /var/lib/postgresql/data)
POSTGRES_DATA_PATH=/var/lib/postgresql

# Container limits
POSTGRES_CPU_LIMIT=2
POSTGRES_MEMORY_LIMIT=4G
POSTGRES_MEMORY_RESERVE=1G
