TARGET_LOCALE=en_US
TARGET_ENCODING=UTF-8

POSTGRES_VERSION=18
POSTGRES_PASSWORD=

# Since postgresql 18+ use: /var/lib/postgresql. For postgresql  <=17 — /var/lib/postgresql/data)
POSTGRES_DATA_PATH=/var/lib/postgresql
